html {
  font-family: sans-serif;
}

#map {
  width: 90%;
  height: 50rem;
  border: 1px solix #ccc;
  margin: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  text-align: center;
  margin: 2rem auto;
}